@import url("https://fonts.googleapis.com/css?family=Neucha");

body {
  background: #f5f5f5;
  font-family: "Neucha", cursive;
}

.container {
  background: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
}
.title {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: Black;
}
.form-set {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.buttonBox {
  margin: 10px auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.buttonBox button {
  width: 30%;
  font-family: "Neucha", cursive;
}
.todoBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.todoBar {
  width: 80%;
  margin: 0 auto;
}
.search {
  margin: 0 auto;
}
input::placeholder {
  color: black;
  font-family: "Neucha", cursive;
}

form > input {
  background-color: white;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: black;
  border-bottom: 1px solid #c0e0de;
  margin-right: 8px;
  font-family: "Neucha", cursive;
}
button {
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 10px;
}
